@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Electrolize&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    height: 100vh;
    background-color: gray;
    padding-left: 88px;
    box-sizing: border-box;
}
.card{
    height: 250px;
    width: 450px;
    background-color: black;
    background-image: url(../pic/map.png);
    background-size: cover;
    border-radius: 20px;
}
.pic_line{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.pic{
    height: 40px;
}
.number_line{
    display: flex;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
}
#number{
    font-size: 25px;
    font-weight: 900;
}
.name_line{
    position: relative;
    top: -10px;
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: none;
}
.last{
    position: relative;
    top: -15px;
    margin: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 60px;
    position: relative;
    top: -8px;
    left: 10px;
}
#back{
    position: relative;
    top: 40px;
    height: 40px;
    width: 90px;
    font-size: 15px;
    font-weight: 900;
    border: 3px solid black;
    border-radius: 19px;
    background-color: gray;
}
#back:hover{
    background-color: black;
    color: #fff;
}